<div id="<%= dom_id message %>">
  <p>
    <strong>Channel:</strong>
    <%= message.channel %>
  </p>

  <p>
    <strong>User:</strong>
    <%= message.user %>
  </p>

  <p>
    <strong>Message:</strong>
    <%= message.message %>
  </p>

  <p>
    <strong>Raw:</strong>
    <%= message.raw %>
  </p>

</div>
